<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <appSettings>
    <add key="InfoPath" value="E:\YSMS_130StandardV4_Info"/>
    <add key="CfgInfoPath" value="D:\YSMS_D100_Info" />
    <add key="OperateTipsPath" value="\config\OperateTips" />
    <add key="ProductFilesPath" value="\Products" />
    <add key="TempFilesPath" value="\TempFiles" />
    <add key="XmlFileName" value="Project.xml" />
    <add key="ImageFileName" value="Image.bmp" />
    <add key="EnumShowNameIni" value="config\枚举文字显示配对.ini" />
    <add key="CameraParasXml" value="\config\CameraParas.xml" />
    <add key="PredefineNameIniPath" value="config\元素预置名称.ini" />
    <add key="SoftwareParasXml" value="config\软件参数.xml" />
    <add key="MoveParasXml" value="运动参数.xml" />
    <add key="AlarmPath" value="\config\Alarm.xml" />
    <add key="ViewList" value="BaseElement_Line" />
    <add key="ModulePath" value="\Module" />
    <add key="lightControXml" value="\config\LightControl.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="trolerallProductsFilesPath" value="\TolerancePosition\Products" />
    <add key="ProfileToleranceParasXml" value="config\轮廓度测量参数.xml" />
  </appSettings>
</configuration>